.beast-container {
  display: flex;
}

.select-style {
  width: 120px;
  margin: auto;
  padding-bottom: 10px;
}

.beast-object {
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  width: 300px;
  border: 2px double green;
}

.species {
  color: green;
  font-weight: bold;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:275px;
  background:lightgrey;
}

h.footer {
  margin-top: 15px;
}
